<!--<button (click)="layout.toogleLSideBar()">T L SIDEBAR</button>-->
<!--<button (click)="layout.toogleRSideBar()">T R SIDEBAR</button>-->
<!--<button (click)="layout.toogleLContent()">T L CONTENT</button>-->
<!--<button (click)="layout.toogleRContent()">T R CONTENT</button>-->
<!--<button (click)="layout.toogleMHeader()">T M Header</button>-->
<!--<button (click)="layout.toogleBHeader()">T B Header</button>-->
<!--<button (click)="layout.toogleMFooter()">T B Foter</button>-->
<!--<button (click)="layout.toogleBFooter()">T B Foter</button>-->
<!--<button (click)="layout.toogleTFooter()">T B Foter</button>-->

<div class="t_header_navigation">
    <div class="section">
        <moz-nav-profile-button [data]="profile_button"></moz-nav-profile-button>
    </div>
    <!--<div class="section">-->
        <!--Search-->
    <!--</div>-->
    <!--<div class="section">-->
        <!--Notifications-->
    <!--</div>-->
</div>