/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  padding: 0;
}

.t_header{
  background: red;
  box-shadow: 0 0 5px #888888;
  z-index: 1000;
}
.m_header{
  background: #eeeeee;
  box-shadow: 0 0 5px #888888;
  z-index: 900;
}