
@mixin moz-area($class){
  .#{$class}{
    grid-area: #{$class};
    display: flex;
    flex-direction: row;
    overflow: hidden;
    @content;
  }
}
.moz-css-grid{

  $notch_size: 10px;
  display: grid;
  height: 100vh;
  width: 100vw;

  .notch{
    background: transparent;

  }
  .notch.left{
    align-self: center;
    width: $notch_size;
    height: 80%;
    margin-left: 20px;
    cursor: e-resize;
    border-right: 3px solid #eee;
  }
  .notch.right{
    align-self: center;
    width: $notch_size;
    margin-right: 20px;
    height: 80%;
    cursor: w-resize;
    border-left: 3px solid #eee;
  }
  .notch.top{
    height: $notch_size;
    width: 80%;
    align-self: center;
    border-bottom: 3px solid #eee;
    cursor: n-resize;
  }

  .notch.bottom{
    height: $notch_size;
    width: 80%;
    align-self: center;
    border-top: 3px solid #eee;
    cursor: s-resize;
    margin-top: -10px;
  }
  .content{
    width: calc(100% - #{$notch_size});
    height: 100%;
  }

  @include moz-area('t_header'){
    flex-direction: column;
  };
  @include moz-area('m_header'){
    flex-direction: column;
  };
  @include moz-area('b_header'){
    flex-direction: column;
  };
  @include moz-area('l_sidebar'){
  };
  @include moz-area('r_sidebar'){
  };
  @include moz-area('l_content'){
    background: cornflowerblue;
  };
  @include moz-area('m_content'){
  };
  @include moz-area('r_content'){
  };
  @include moz-area('t_footer'){
    flex-direction: column;
  };
  @include moz-area('m_footer'){
    flex-direction: column;
  };
  @include moz-area('b_footer'){
    flex-direction: column;
  };
}