<div class="moz-css-grid" [ngStyle]="layout.getStyle()">
    <div class="t_header">
        <div class="content">
            <app-render [component]="elements.elements.t_header"></app-render>
        </div>
        <div class="notch bottom" draggable="true" (dragstart)="layout.dragStart($event,'t_header')" (drag)="layout.dragging($event,'t_header')" (dragend)="layout.dragEnd($event,'t_header')" *ngIf="layout.notch('t_header')"></div>
    </div>
    <div class="m_header">
        <div class="content">
            <app-render [component]="elements.elements.m_header"></app-render>
        </div>
        <div class="notch bottom" draggable="true" (dragstart)="layout.dragStart($event,'m_header')" (drag)="layout.dragging($event,'m_header')" (dragend)="layout.dragEnd($event,'m_header')" *ngIf="layout.notch('m_header')"></div>
    </div>
    <div class="b_header">
        <div class="content">
            <app-render [component]="elements.elements.b_header"></app-render>
        </div>
        <div class="notch bottom" draggable="true" (dragstart)="layout.dragStart($event,'b_header')" (drag)="layout.dragging($event,'b_header')" (dragend)="layout.dragEnd($event,'b_header')" *ngIf="layout.notch('b_header')"></div>
    </div>
    <div class="l_sidebar">
        <div class="content">
            <app-render [component]="elements.elements.l_sidebar"></app-render>
        </div>
        <div class="notch left" draggable="true" (dragstart)="layout.dragStart($event,'l_sidebar')" (drag)="layout.dragging($event,'l_sidebar')" (dragend)="layout.dragEnd($event,'l_sidebar')" *ngIf="layout.notch('l_sidebar')"></div>
    </div>
    <div class="r_sidebar">
        <div class="notch right" draggable="true" (dragstart)="layout.dragStart($event,'r_sidebar')" (drag)="layout.dragging($event,'r_sidebar')" (dragend)="layout.dragEnd($event,'r_sidebar')" *ngIf="layout.notch('r_sidebar')"></div>
        <div class="content">
            <app-render [component]="elements.elements.r_sidebar"></app-render>
        </div>
    </div>
    <div class="l_content">
        <div class="content">
            <app-render [component]="elements.elements.l_content"></app-render>
        </div>
        <div class="notch left" draggable="true" (dragstart)="layout.dragStart($event,'l_content')" (drag)="layout.dragging($event,'l_content')" (dragend)="layout.dragEnd($event,'l_content')" *ngIf="layout.notch('l_content')"></div>
    </div>
    <div class="m_content" draggable="false">
        <app-render [component]="elements.elements.m_content"></app-render>
    </div>
    <div class="r_content">
        <div class="notch right" draggable="true" (dragstart)="layout.dragStart($event,'r_content')" (drag)="layout.dragging($event,'r_content')" (dragend)="layout.dragEnd($event,'r_content')" *ngIf="layout.notch('r_content')"></div>
        <div class="content">
            <app-render [component]="elements.elements.r_content"></app-render>
        </div>
    </div>
    <div class="t_footer">
        <div class="notch top" draggable="true" (dragstart)="layout.dragStart($event,'t_footer')" (drag)="layout.dragging($event,'t_footer')" (dragend)="layout.dragEnd($event,'t_footer')" *ngIf="layout.notch('t_footer')"></div>
        <div class="content">
            <app-render [component]="elements.elements.t_footer"></app-render>
        </div>
    </div>
    <div class="m_footer">
        <div class="notch top" draggable="true" (dragstart)="layout.dragStart($event,'m_footer')" (drag)="layout.dragging($event,'m_footer')" (dragend)="layout.dragEnd($event,'m_footer')" *ngIf="layout.notch('m_footer')"></div>
        <div class="content">
            <app-render [component]="elements.elements.m_footer"></app-render>
        </div>
    </div>
    <div class="b_footer">
        <div class="notch top" draggable="true" (dragstart)="layout.dragStart($event,'b_footer')" (drag)="layout.dragging($event,'b_footer')" (dragend)="layout.dragEnd($event,'b_footer')" *ngIf="layout.notch('b_footer')"></div>
        <div class="content">
            <app-render [component]="elements.elements.b_footer"></app-render>
        </div>
    </div>
</div>